### Import findspark

In [75]:
import findspark
findspark.init()

### Create Spark Session

In [76]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").getOrCreate()

### Import pySpark

In [77]:
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, DoubleType

### Initialize schema of the DB to be read

In [78]:
customSchema = StructType([
    StructField("total_bill", DoubleType(), True),
    StructField("tip", DoubleType(), True),
    StructField("sex", StringType(), True),
    StructField("smoker", StringType(), True),
    StructField("day", StringType(), True),
    StructField("time", StringType(), True),
    StructField("size", IntegerType(), True)
])

### Read CSV

In [79]:
df_pyspark = spark.read.option('header', 'true').csv(r'file:///C:/Users/mateusz.baczewski/Downloads/tips.csv', schema = customSchema)

In [80]:
df_pyspark.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [81]:
df_pyspark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [82]:
df_pyspark.head(5)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

Do not use collect on large scale datasets as collect retrieves all of the existing entries.

In [83]:
df_pyspark.collect()

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=25.29, tip=4.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=8.77, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=26.88, tip=3.12, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=15.04, tip=1.96, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=14.78, tip=3.23, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.27, tip=1.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=35.26, tip=5.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=15.42, tip=1.57, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=18.43, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=14.83, tip=3.02, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=21.58, tip=3.92, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.33, tip=1.67, sex='Female', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=16.29, tip=3.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=16.97, tip=3.5, sex='Female', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=20.65, tip=3.35, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=17.92, tip=4.08, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=20.29, tip=2.75, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=15.77, tip=2.23, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=39.42, tip=7.58, sex='Male', smoker='No', day='Sat', time='Dinner', size=4),
 Row(total_bill=19.82, tip=3.18, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=17.81, tip=2.34, sex='Male', smoker='No', day='Sat', time='Dinner', size=4),
 Row(total_bill=13.37, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=12.69, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=21.7, tip=4.3, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=19.65, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=9.55, tip=1.45, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=18.35, tip=2.5, sex='Male', smoker='No', day='Sat', time='Dinner', size=4),
 Row(total_bill=15.06, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=20.69, tip=2.45, sex='Female', smoker='No', day='Sat', time='Dinner', size=4),
 Row(total_bill=17.78, tip=3.27, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=24.06, tip=3.6, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=16.31, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=16.93, tip=3.07, sex='Female', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=18.69, tip=2.31, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=31.27, tip=5.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=16.04, tip=2.24, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=17.46, tip=2.54, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=13.94, tip=3.06, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=9.68, tip=1.32, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=30.4, tip=5.6, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=18.29, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=22.23, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=32.4, tip=6.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=28.55, tip=2.05, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=18.04, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=12.54, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.29, tip=2.6, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=34.81, tip=5.2, sex='Female', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=9.94, tip=1.56, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=25.56, tip=4.34, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=19.49, tip=3.51, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=38.01, tip=3.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4),
 Row(total_bill=26.41, tip=1.5, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=11.24, tip=1.76, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=48.27, tip=6.73, sex='Male', smoker='No', day='Sat', time='Dinner', size=4),
 Row(total_bill=20.29, tip=3.21, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=13.81, tip=2.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=11.02, tip=1.98, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=18.29, tip=3.76, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4),
 Row(total_bill=17.59, tip=2.64, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=20.08, tip=3.15, sex='Male', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=16.45, tip=2.47, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=3.07, tip=1.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=1),
 Row(total_bill=20.23, tip=2.01, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=15.01, tip=2.09, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=12.02, tip=1.97, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=17.07, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=3),
 Row(total_bill=26.86, tip=3.14, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=25.28, tip=5.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=14.73, tip=2.2, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=10.51, tip=1.25, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=17.92, tip=3.08, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=27.2, tip=4.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=4),
 Row(total_bill=22.76, tip=3.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=17.29, tip=2.71, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=19.44, tip=3.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=16.66, tip=3.4, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=10.07, tip=1.83, sex='Female', smoker='No', day='Thur', time='Lunch', size=1),
 Row(total_bill=32.68, tip=5.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=15.98, tip=2.03, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=34.83, tip=5.17, sex='Female', smoker='No', day='Thur', time='Lunch', size=4),
 Row(total_bill=13.03, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=18.28, tip=4.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=24.71, tip=5.85, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=21.16, tip=3.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=28.97, tip=3.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=22.49, tip=3.5, sex='Male', smoker='No', day='Fri', time='Dinner', size=2),
 Row(total_bill=5.75, tip=1.0, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=16.32, tip=4.3, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=22.75, tip=3.25, sex='Female', smoker='No', day='Fri', time='Dinner', size=2),
 Row(total_bill=40.17, tip=4.73, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=4),
 Row(total_bill=27.28, tip=4.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=12.03, tip=1.5, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=21.01, tip=3.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=12.46, tip=1.5, sex='Male', smoker='No', day='Fri', time='Dinner', size=2),
 Row(total_bill=11.35, tip=2.5, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=15.38, tip=3.0, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2),
 Row(total_bill=44.3, tip=2.5, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=3),
 Row(total_bill=22.42, tip=3.48, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=20.92, tip=4.08, sex='Female', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=15.36, tip=1.64, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=20.49, tip=4.06, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=25.21, tip=4.29, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=18.24, tip=3.76, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=14.31, tip=4.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=14.0, tip=3.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2),
 Row(total_bill=7.25, tip=1.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=1),
 Row(total_bill=38.07, tip=4.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.95, tip=2.55, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=25.71, tip=4.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=17.31, tip=3.5, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=29.93, tip=5.07, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=10.65, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=12.43, tip=1.8, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=24.08, tip=2.92, sex='Female', smoker='No', day='Thur', time='Lunch', size=4),
 Row(total_bill=11.69, tip=2.31, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=13.42, tip=1.68, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=14.26, tip=2.5, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=15.95, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=12.48, tip=2.52, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=29.8, tip=4.2, sex='Female', smoker='No', day='Thur', time='Lunch', size=6),
 Row(total_bill=8.52, tip=1.48, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=14.52, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=11.38, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=22.82, tip=2.18, sex='Male', smoker='No', day='Thur', time='Lunch', size=3),
 Row(total_bill=19.08, tip=1.5, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=20.27, tip=2.83, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=11.17, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=12.26, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=18.26, tip=3.25, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=8.51, tip=1.25, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=10.33, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=14.15, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=16.0, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=13.16, tip=2.75, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=17.47, tip=3.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=34.3, tip=6.7, sex='Male', smoker='No', day='Thur', time='Lunch', size=6),
 Row(total_bill=41.19, tip=5.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=5),
 Row(total_bill=27.05, tip=5.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=6),
 Row(total_bill=16.43, tip=2.3, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=8.35, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=18.64, tip=1.36, sex='Female', smoker='No', day='Thur', time='Lunch', size=3),
 Row(total_bill=11.87, tip=1.63, sex='Female', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=9.78, tip=1.73, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=7.51, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=14.07, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=13.13, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=17.26, tip=2.74, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=24.55, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=19.77, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=29.85, tip=5.14, sex='Female', smoker='No', day='Sun', time='Dinner', size=5),
 Row(total_bill=48.17, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=6),
 Row(total_bill=25.0, tip=3.75, sex='Female', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=13.39, tip=2.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=16.49, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=21.5, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=12.66, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=16.21, tip=2.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=13.81, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=17.51, tip=3.0, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.52, tip=3.48, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=20.76, tip=2.24, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=31.71, tip=4.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=4),
 Row(total_bill=10.59, tip=1.61, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=10.63, tip=2.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=50.81, tip=10.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=3),
 Row(total_bill=15.81, tip=3.16, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=7.25, tip=5.15, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=31.85, tip=3.18, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=16.82, tip=4.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=32.9, tip=3.11, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=17.89, tip=2.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=14.48, tip=2.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=9.6, tip=4.0, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=34.63, tip=3.55, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=34.65, tip=3.68, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=4),
 Row(total_bill=23.33, tip=5.65, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=45.35, tip=3.5, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.17, tip=6.5, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=4),
 Row(total_bill=40.55, tip=3.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=20.69, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=5),
 Row(total_bill=20.9, tip=3.5, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=3),
 Row(total_bill=30.46, tip=2.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=5),
 Row(total_bill=18.15, tip=3.5, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.1, tip=4.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=3),
 Row(total_bill=15.69, tip=1.5, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2),
 Row(total_bill=19.81, tip=4.19, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=28.44, tip=2.56, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=15.48, tip=2.02, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=16.58, tip=4.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=7.56, tip=1.44, sex='Male', smoker='No', day='Thur', time='Lunch', size=2),
 Row(total_bill=10.34, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=43.11, tip=5.0, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=4),
 Row(total_bill=13.0, tip=2.0, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=13.51, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=18.71, tip=4.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=3),
 Row(total_bill=12.74, tip=2.01, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=13.0, tip=2.0, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=16.4, tip=2.5, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2),
 Row(total_bill=20.53, tip=4.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=4),
 Row(total_bill=16.47, tip=3.23, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=3),
 Row(total_bill=26.59, tip=3.41, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=3),
 Row(total_bill=38.73, tip=3.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4),
 Row(total_bill=24.27, tip=2.03, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=12.76, tip=2.23, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),
 Row(total_bill=30.06, tip=2.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=3),
 Row(total_bill=25.89, tip=5.16, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4),
 Row(total_bill=48.33, tip=9.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=4),
 Row(total_bill=13.27, tip=2.5, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2),

### Check number of categories for categorical data

In [84]:
df_pyspark.select("time").distinct().count()

2

### Check total number of rows

In [85]:
df_pyspark.count()

244

### Filter in pySpark

In [86]:
df_pyspark.filter((df_pyspark.smoker == 'Yes') & (df_pyspark.size > 2)).show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     38.01| 3.0|  Male|   Yes| Sat|Dinner|   4|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|
|     40.17|4.73|  Male|   Yes| Fri|Dinner|   4|
|      44.3| 2.5|Female|   Yes| Sat|Dinner|   3|
|     50.81|10.0|  Male|   Yes| Sat|Dinner|   3|
|     34.65|3.68|  Male|   Yes| Sun|Dinner|   4|
|     45.35| 3.5|  Male|   Yes| Sun|Dinner|   3|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4|
|      20.9| 3.5|Female|   Yes| Sun|Dinner|   3|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|
|     18.15| 3.5|Female|   Yes| Sun|Dinner|   3|
|      23.1| 4.0|  Male|   Yes| Sun|Dinner|   3|
|     43.11| 5.0|Female|   Yes|Thur| Lunch|   4|
|     18.71| 4.0|  Male|   Yes|Thur| Lunch|   3|
|     20.53| 4.0|  Male|   Yes|Thur| Lunch|   4|
|     16.47|3.23|Female|   Yes|Thur| Lunch|   3|
|     26.59|3.41|  Male|   Yes| Sat|Dinner|   3|
|     38.73| 3.0|  Male|   Yes| Sat|Dinner|   4|
|     30.06| 2.0|  Male|   Yes| Sat|Dinner|   3|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4|
+----------+----+------+------+----+------+----+
only showing top 20 rows

In [87]:
df_pyspark.filter("smoker == 'Yes' AND size > 2").show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     38.01| 3.0|  Male|   Yes| Sat|Dinner|   4|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|
|     40.17|4.73|  Male|   Yes| Fri|Dinner|   4|
|      44.3| 2.5|Female|   Yes| Sat|Dinner|   3|
|     50.81|10.0|  Male|   Yes| Sat|Dinner|   3|
|     34.65|3.68|  Male|   Yes| Sun|Dinner|   4|
|     45.35| 3.5|  Male|   Yes| Sun|Dinner|   3|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4|
|      20.9| 3.5|Female|   Yes| Sun|Dinner|   3|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|
|     18.15| 3.5|Female|   Yes| Sun|Dinner|   3|
|      23.1| 4.0|  Male|   Yes| Sun|Dinner|   3|
|     43.11| 5.0|Female|   Yes|Thur| Lunch|   4|
|     18.71| 4.0|  Male|   Yes|Thur| Lunch|   3|
|     20.53| 4.0|  Male|   Yes|Thur| Lunch|   4|
|     16.47|3.23|Female|   Yes|Thur| Lunch|   3|
|     26.59|3.41|  Male|   Yes| Sat|Dinner|   3|
|     38.73| 3.0|  Male|   Yes| Sat|Dinner|   4|
|     30.06| 2.0|  Male|   Yes| Sat|Dinner|   3|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4|
+----------+----+------+------+----+------+----+
only showing top 20 rows

In [88]:
df_pyspark.filter("day LIKE 'S%' AND size > 2").show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
|     39.42|7.58|  Male|    No|Sat|Dinner|   4|
|     17.81|2.34|  Male|    No|Sat|Dinner|   4|
|     18.35| 2.5|  Male|    No|Sat|Dinner|   4|
|     20.69|2.45|Female|    No|Sat|Dinner|   4|
|     24.06| 3.6|  Male|    No|Sat|Dinner|   3|
|     16.31| 2.0|  Male|    No|Sat|Dinner|   3|
|     16.93|3.07|Female|    No|Sat|Dinner|   3|
|     18.69|2.31|  Male|    No|Sat|Dinner|   3|
|     31.27| 5.0|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [89]:
df_pyspark.filter(df_pyspark.day.startswith('S')).show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [90]:
df_pyspark.filter(df_pyspark.total_bill.endswith('99')).show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+

In [91]:
size_list = [1, 2]
df_pyspark.filter(df_pyspark.size.isin(size_list)).show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     17.92|4.08|  Male|    No|Sat|Dinner|   2|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|
|     19.82|3.18|  Male|    No|Sat|Dinner|   2|
|     13.37| 2.0|  Male|    No|Sat|Dinner|   2|
|     12.69| 2.0|  Male|    No|Sat|Dinner|   2|
|      21.7| 4.3|  Male|    No|Sat|Dinner|   2|
|     19.65| 3.0|Female|    No|Sat|Dinner|   2|
|      9.55|1.45|  Male|    No|Sat|Dinner|   2|
|     15.06| 3.0|Female|    No|Sat|Dinner|   2|
|     17.78|3.27|  Male|    No|Sat|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [92]:
df_pyspark.filter(~df_pyspark.day.like("%un")).show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
|     17.92|4.08|  Male|    No|Sat|Dinner|   2|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|
|     39.42|7.58|  Male|    No|Sat|Dinner|   4|
|     19.82|3.18|  Male|    No|Sat|Dinner|   2|
|     17.81|2.34|  Male|    No|Sat|Dinner|   4|
|     13.37| 2.0|  Male|    No|Sat|Dinner|   2|
|     12.69| 2.0|  Male|    No|Sat|Dinner|   2|
|      21.7| 4.3|  Male|    No|Sat|Dinner|   2|
|     19.65| 3.0|Female|    No|Sat|Dinner|   2|
|      9.55|1.45|  Male|    No|Sat|Dinner|   2|
|     18.35| 2.5|  Male|    No|Sat|Dinner|   4|
|     15.06| 3.0|Female|    No|Sat|Dinner|   2|
|     20.69|2.45|Female|    No|Sat|Dinner|   4|
|     17.78|3.27|  Male|    No|Sat|Dinner|   2|
|     24.06| 3.6|  Male|    No|Sat|Dinner|   3|
|     16.31| 2.0|  Male|    No|Sat|Dinner|   3|
|     16.93|3.07|Female|    No|Sat|Dinner|   3|
|     18.69|2.31|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

It is also possible to use rlike, when you want to use regrex

### Showing columns by index, showing top rows

In [93]:
df_pyspark.select(df_pyspark.columns[:3]).show(3)

+----------+----+------+
|total_bill| tip|   sex|
+----------+----+------+
|     16.99|1.01|Female|
|     10.34|1.66|  Male|
|     21.01| 3.5|  Male|
+----------+----+------+
only showing top 3 rows

### Calculated columns

In [94]:
from pyspark.sql.functions import col
df_pyspark_3 = df_pyspark.withColumn("Tip & Bill", col("total_bill") + col("tip"))

In [95]:
df_pyspark_3.show()

+----------+----+------+------+---+------+----+------------------+
|total_bill| tip|   sex|smoker|day|  time|size|        Tip & Bill|
+----------+----+------+------+---+------+----+------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|              18.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|              12.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|             24.51|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|             26.99|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|              28.2|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|              30.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|             10.77|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|              30.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|              17.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|18.009999999999998|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|             11.98|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|             40.26|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|             16.99|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|             21.43|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|             17.85|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|              25.5|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|              12.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|              20.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|             20.47|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|              24.0|
+----------+----+------+------+---+------+----+------------------+
only showing top 20 rows

### Rename column

In [96]:
df_pyspark_2 = df_pyspark.withColumnRenamed("sex", "gender")
df_pyspark_2.show()

+----------+----+------+------+---+------+----+------------------+
|total_bill| tip|gender|smoker|day|  time|size|        Tip & Bill|
+----------+----+------+------+---+------+----+------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|              18.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|              12.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|             24.51|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|             26.99|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|              28.2|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|              30.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|             10.77|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|              30.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|              17.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|18.009999999999998|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|             11.98|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|             40.26|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|             16.99|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|             21.43|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|             17.85|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|              25.5|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|              12.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|              20.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|             20.47|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|              24.0|
+----------+----+------+------+---+------+----+------------------+
only showing top 20 rows

In [101]:
df_pyspark_4 = df_pyspark.select(col("smoker").alias("s"), col("tip").alias("t"))
df_pyspark_4.show()

+---+----+
|  s|   t|
+---+----+
| No|1.01|
| No|1.66|
| No| 3.5|
| No|3.31|
| No|3.61|
| No|4.71|
| No| 2.0|
| No|3.12|
| No|1.96|
| No|3.23|
| No|1.71|
| No| 5.0|
| No|1.57|
| No| 3.0|
| No|3.02|
| No|3.92|
| No|1.67|
| No|3.71|
| No| 3.5|
| No|3.35|
+---+----+
only showing top 20 rows

### Drop column

In [97]:
df_pyspark_1 = df_pyspark.drop("gender")
df_pyspark_1.show()

+----------+----+------+---+------+----+------------------+
|total_bill| tip|smoker|day|  time|size|        Tip & Bill|
+----------+----+------+---+------+----+------------------+
|     16.99|1.01|    No|Sun|Dinner|   2|              18.0|
|     10.34|1.66|    No|Sun|Dinner|   3|              12.0|
|     21.01| 3.5|    No|Sun|Dinner|   3|             24.51|
|     23.68|3.31|    No|Sun|Dinner|   2|             26.99|
|     24.59|3.61|    No|Sun|Dinner|   4|              28.2|
|     25.29|4.71|    No|Sun|Dinner|   4|              30.0|
|      8.77| 2.0|    No|Sun|Dinner|   2|             10.77|
|     26.88|3.12|    No|Sun|Dinner|   4|              30.0|
|     15.04|1.96|    No|Sun|Dinner|   2|              17.0|
|     14.78|3.23|    No|Sun|Dinner|   2|18.009999999999998|
|     10.27|1.71|    No|Sun|Dinner|   2|             11.98|
|     35.26| 5.0|    No|Sun|Dinner|   4|             40.26|
|     15.42|1.57|    No|Sun|Dinner|   2|             16.99|
|     18.43| 3.0|    No|Sun|Dinner|   4|             21.43|
|     14.83|3.02|    No|Sun|Dinner|   2|             17.85|
|     21.58|3.92|    No|Sun|Dinner|   2|              25.5|
|     10.33|1.67|    No|Sun|Dinner|   3|              12.0|
|     16.29|3.71|    No|Sun|Dinner|   3|              20.0|
|     16.97| 3.5|    No|Sun|Dinner|   3|             20.47|
|     20.65|3.35|    No|Sat|Dinner|   3|              24.0|
+----------+----+------+---+------+----+------------------+
only showing top 20 rows